<% provide(:title, "ILK: Пользовательское соглашение") %>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Главная', root_path %></li>
      <li class="breadcrumb-item active">Пользовательское соглашение</li>  
    </ol>
  </nav>
</div>

<div class="container my-4">
	<div class="resources-title mb-4 text-center">		
		<h1 class="fs-3">Пользовательское соглашение</h1>		
	</div>

	<div class="bg-white border rounded p-3">
		<div class="">
      <h4>Пользовательское Соглашение</h4>
      Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем ilovekrim.ru (далее Люблю Крым или Администрация) с одной стороны и пользователем сайта с другой.<br>
      Сайт Люблю Крым не является средством массовой информации.<br><br>
      Используя сайт, Вы соглашаетесь с условиями данного соглашения.<br>
      <b>Если Вы не согласны с условиями данного соглашения, не используйте сайт ilovekrim.ru!</b><br><br>
      <h4>Предмет соглашения</h4>
      <b>Администрация предоставляет пользователю право на размещение на сайте следующей информации:</b>
      <br>- Текстовой информации<br>- Фотоматериалов<br>- Ссылок на материалы, размещенные на других сайтах<br><br>
      <h4>Права и обязанности сторон</h4>
      <b>Пользователь имеет право:</b><br>
      - осуществлять поиск информации на сайте<br>
      - получать информацию на сайте<br>- создавать информацию для сайта<br>
      - использовать информацию сайта в личных некоммерческих целях<br>
      - использовать информацию сайта в коммерческих целях без специального разрешения<br><br>
      <b>Администрация имеет право:</b><br>- по своему усмотрению и необходимости создавать, изменять, отменять правила<br>
      - ограничивать доступ к любой информации на сайте<br>- создавать, изменять, удалять информацию<br>
      - удалять учетные записи<br>- отказывать в регистрации без объяснения причин<br><br>
      <b>Пользователь обязуется:</b><br>
      - обеспечить достоверность предоставляемой информации<br>
      - обеспечивать сохранность личных данных от доступа третьих лиц<br>
      - обновлять Персональные данные, предоставленные при регистрации, в случае их изменения<br>
      - не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность<br>- не нарушать работоспособность сайта<br>
      - не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому же лицу<br>
      - не совершать действия, направленные на введение других Пользователей в заблуждение<br>
      - не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи третьим лицам<br>
      - не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ<br>
      - не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами<br><br>
      <b>Администрация обязуется:</b><br>
      - поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.<br>
      - осуществлять разностороннюю защиту учетной записи Пользователя<br>
      - защищать информацию, распространение которой ограничено или запрещено законами путем вынесения предупреждения либо удалением учетной записи пользователя, нарушившего правила<br>
      - предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в случаях, установленных законом<br><br>
      <h4>Ответственность сторон</h4>
      - пользователь лично несет полную ответственность за распространяемую им информацию<br>
      - администрация не несет никакой ответственности за достоверность информации, скопированной из других источников<br>
      - администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг<br>
      - администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br>
      - в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса<br><br>
      <h4>Условия действия Соглашения</h4>
      Данное Соглашение вступает в силу при любом использовании данного сайта.<br>
      Соглашение перестает действовать при появлении его новой версии.<br>
      Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.<br>
      Администрация не оповещает пользователей об изменении в Соглашении.<br><br><br> 
	  </div>
  </div>
</div>	


