<div class="container">

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-white">White</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>

<hr>

<a class="btn btn-primary-soft" href="#">Primary</a>
<a class="btn btn-dark-soft" href="#">Dark</a>
<a class="btn btn-light-soft" href="#">Light</a>
<a class="btn btn-secondary-soft" href="#">Secondary</a>
<a class="btn btn-success-soft" href="#">Success</a>
<a class="btn btn-danger-soft" href="#">Danger</a>
<a class="btn btn-warning-soft" href="#">Warning</a>
<a class="btn btn-info-soft" href="#">Info</a>

<hr>

<a class="btn btn-primary" href="#"><i class="bi bi-arrow-up-right-circle me-2"></i>Primary</a>
<a class="btn btn-dark" href="#">Dark <i class="bi bi-arrow-up-right-circle ms-2"></i></a>
<a class="btn btn-primary btn-round btn-sm" href="#"><i class="bi bi-arrow-up-right-circle"></i></a>
<a class="btn btn-primary btn-round" href="#"><i class="bi bi-arrow-up-right-circle"></i></a>
<a class="btn btn-primary btn-round btn-lg" href="#"><i class="bi bi-arrow-up-right-circle"></i></a>

<hr>

<a class="btn btn-primary btn-xs" href="#">x Small</a>
<a class="btn btn-primary btn-sm" href="#">Small</a>
<a class="btn btn-primary" href="#">Default</a>
<a class="btn btn-primary btn-lg" href="#">Large</a>

<hr>

<ul class="nav nav-tabs nav-bottom-line mb-3">
	<li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab-3-1"> Research </a> </li>
	<li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-3-2"> Design </a> </li>
	<li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-3-3"> Develop </a> </li>
</ul>
<div class="tab-content">
	<div class="tab-pane show active" id="tab-3-1">
		We have a strong foundation built on legacy and emerging technologies, including excellent track record of on-time deliveries. We are emerging as one of the most promising private talent sourcing and management firms in the world. The real challenge before companies in today's world is to make their products and services appealing to everyone.
	</div>
	<div class="tab-pane" id="tab-3-2">
		We pride ourselves on the service we give to our clients. Our friendly team members are always willing to help you understand your present technology requirements and provide suggestions on your future needs. It can be the packaging of an item or the design of its website and Applications.
	</div>
	<div class="tab-pane" id="tab-3-3">
		Social an innovative Internet marketing solutions company that offers comprehensive web development, SMO services, SEO strategies and various other types of Internet marketing related services. With us at your side, you will find the IT solution to achieve your strategic and financial goals.
	</div>
</div>

<hr>

<ul class="nav nav-pills nav-pills-primary-soft mb-3" id="tour-pills-tab" role="tablist">
	<li class="nav-item me-2">
		<a class="nav-link active" data-bs-toggle="tab" href="#tab-research">Research</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-bs-toggle="tab" href="#tab-design">Design</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-bs-toggle="tab" href="#tab-develope">Develope</a>
	</li>
</ul>

<div class="tab-content">
	<div class="tab-pane show active" id="tab-research">
		We have a strong foundation built on legacy and emerging technologies, including excellent track record of on-time deliveries. We are emerging as one of the most promising private talent sourcing and management firms in the world. The real challenge before companies in today's world is to make their products and services appealing to everyone.
	</div>
	<div class="tab-pane" id="tab-design">
		We pride ourselves on the service we give to our clients. Our friendly team members are always willing to help you understand your present technology requirements and provide suggestions on your future needs. It can be the packaging of an item or the design of its website and Applications.
	</div>
	<div class="tab-pane" id="tab-develope">
		On the service we give to our clients. Our friendly team members are always willing to help you understand your present technology requirements and provide suggestions on your future needs. It can be the packaging of an item or the design of its website and Applications.
	</div>
</div>

<hr>								      

<%= link_to @town.name, @town, class: "btn btn-success-soft" %>


<section class="py-0 py-md-3">
	<div class="container">
		<div class="position-relative rounded overflow-hidden p-2 p-sm-5" style="background-image:url(<%= @town.avatar.url %>); background-position: center left; background-size: cover;">
			<div class="row position-relative z-index-9">
				<div class="col-md-9 col-xl-8">
					<div class="rounded shadow bg-light bg-opacity-75 p-sm-4">

            <h5><%= link_to @town.name, @town, class: "stretched-link"%></h5>

						<p class="mb-3 text-dark"><%= @town.description %></p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



</div>

