<%= render 'static_pages/templates/main_banner' %>

<section class="py-0">
	<div class="container">
		<div class="row mb-4">
				<h2 class="h3 ps-5"><i class="bi bi-signpost-split text-black-50 me-2"></i>Куда поехать</h2>
		</div>

		<div class="row g-4">
      <%= render @towns %>
		</div>
	</div>
</section>


<section>
  <div class="container">
    <div class="row mb-4">
			<h2 class="h3 ps-5"><i class="bi bi-buildings text-black-50 me-2"></i>Что арендовать</h2>
		</div>

    <div id="search_result">
      <div class="row gx-4">
        <%= render @homepage_properties %>
      </div>

      <% if @properties %>
        <%= render partial: 'properties/property', collection: @properties, as: :property %>
      <% end %>
    </div>
  </div>
</section>


