<h1>Homepage</h1>

<% @towns.each do |town| %>
  <%= link_to town.name, town %>
<% end %>

<hr>

<%= render 'search/form' %>

<div id="search_result">
  <% if @properties %>
    <%= render partial: 'properties/property', collection: @properties, as: :property %>
  <% end %>
</div>
