<%= render 'static_pages/templates/main_banner' %>

<div class="container">
  <div class="alert alert-info alert-dismissible d-flex justify-content-between align-items-center show mb-4 rounded-3 py-4" role="alert">
    <div class="d-flex">
      <span class="alert-heading h5 mb-0 me-2"><i class="bi bi-exclamation-octagon-fill"></i></span>
      <span>
        <strong class="alert-heading me-2">Сайт находится в разработке:</strong>
        Данные об объектах являются демо-данными. Забронировать в реальности эти объекты нельзя
      </span>
    </div>
  </div>
</div>

<section class="py-0">
	<div class="container">
		<div class="row mb-4">
				<h2 class="h3 ps-md-5"><i class="bi bi-check2-circle text-orange me-3"></i>Куда поехать</h2>
		</div>

		<div class="row g-4">
      <%= render @towns %>
		</div>
	</div>
</section>

<section>
  <div class="container">
    <div class="row mb-4">
			<h2 class="h3 ps-md-5"><i class="bi bi-check2-circle text-orange me-3"></i>Популярные предложения</h2>
		</div>

    <div id="search_result">
      <div class="row gx-4">
        <%= render @properties %>
      </div>
    </div>
  </div>
</section>

