<%= render 'static_pages/templates/main_banner' %>

<section class="py-0">
	<div class="container">
		<div class="row mb-4">
				<h2 class="h3 ps-md-5"><i class="bi bi-check2-circle text-black-50 me-3"></i>Куда поехать</h2>
		</div>

		<div class="row g-4">
      <%= render @towns %>
		</div>
	</div>
</section>

<section>
  <div class="container">
    <div class="row mb-4">
			<h2 class="h3 ps-md-5"><i class="bi bi-check2-circle text-black-50 me-3"></i>Популярные предложения</h2>
		</div>

    <div id="search_result">
      <div class="row gx-4">
        <%= render @properties %>
      </div>
    </div>
  </div>
</section>

