<% provide(:title, "ILK: Политика конфиденциальности") %>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Главная', root_path %></li>
      <li class="breadcrumb-item active">Политика конфиденциальности</li>  
    </ol>
  </nav>
</div>

<div class="container my-4">
	<div class="resources-title mb-4 text-center">		
		<h1 class="fs-3">Политика конфиденциальности персональных данных</h1>		
	</div>


	<div class="bg-white border rounded p-3">
			<p>&emsp;Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует
			 	в отношении всей информации, которую сайт <strong>Информационно-туристический портал ilovekrim.ru</strong>, (далее – Люблю Крым)
			  расположенный на доменном имени </strong>ilovekrim.ru</strong>, может получить о Пользователе во время использования сайта ilovekrim.ru.
			</p>

			<p>&emsp;
			Администрация сайта ilovekrim.ru обязуется сохранять вашу конфиденциальность в Интернете.
			 Наша политика конфиденциальности основана на требованиях Общего регламента о защите персональных данных
			  Европейского Союза (GDPR). Цели, в которых мы собираем персональные данные: улучшение работы нашего сервиса,
				 осуществление контактов с посетителями данного сайта, информационная рассылка по электронной почте,
				  осуществление услуг, связанных с направлением деятельности данного сайта, а так же для указанных ниже действий.
			</p>

			&emsp; <strong>Сбор и использование персональных данных</strong> <br>
			<p>&emsp;Мы собираем и используем ваши персональные данные только в случае вашего добровольного согласия.
				При согласии с этим вы разрешаете нам собирать и использовать следующие данные: имя и фамилия, электронная почта,
				номер телефона, личные фотографии. Сбор и обработка ваших данных проводится соответствии с законами,
				действующими на территории Европейского Союза и Российской Федерации.
			</p>

			&emsp; <strong>Хранение данных, изменение и удаление</strong> <br>
			<p>&emsp;Пользователь, предоставивший свои персональные данные сайту ilovekrim.ru имеет право на их изменение и удаление,
		а так же на отзыв своего согласия с их использованием. Срок, в течение которого будут храниться ваши персональные
		 данные: время, необходимое для использования данных для основной деятельности сайта. При завершении использования
		  ваших данных администрация сайта удаляет их. Доступ к своим персональным данным осуществляется в личном кабинете
			 аккаунта пользователя.
			</p>

			&emsp; <strong>Использование технических данных при посещении сайта</strong> <br>
			<p>&emsp;При посещении вами сайта ilovekrim.ru в базе данных сохраняются записи о вашем IP адресе,
		 времени посещения, настройках браузера, операционной системе, а также другая техническая информация
		  необходимая для корректного отображения содержимого сайта. По этим данным нам невозможно
			 идентифицировать личность посетителя.
			</p>

			&emsp; <strong>Использование cookies</strong> <br>
			<p>&emsp;Для корректного отображения содержимого и для удобства использования сайта ilovekrim.ru мы
		 используем cookie файлы. Это небольшие файлы, которые хранятся на вашем устройстве. Они помогают сайту
		  запомнить информацию о вас, например на каком языке вы просматриваете сайт и какие страницы вы уже открывали,
			 эта информация будет полезна при следующем посещении. Благодаря файлам cookie просмотр сайта становится
			  значительно более удобным. Вы можете настроить прием или блокировку cookie в браузере самостоятельно.
				 Невозможность принимать cookie может ограничить работоспособность сайта.
			</p>

			&emsp; <strong>Обратная связь, заключительные положения</strong> <br>
			<p>&emsp;Связаться с администрацией сайта ilovekrim.ru по вопросам, связанным с политикой конфиденциальности
		 можно по адресу: admin@ilovekrim.ru. Если вы не согласны с данной политикой конфиденциальности, вы не можете
		  пользоваться услугами сайта ilovekrim.ru, в этом случае вы должны воздержаться от посещения нашего сайта.
			</p>
  </div>

</div>	