<section class="py-3">
  <div class="container">		
    <%= link_to "Аренда жилья", properties_admin_listings_path, class: 'btn btn-primary btn-sm' %>
    <%= link_to "Активный отдых", activities_admin_listings_path, class: 'btn btn-orange btn-sm' %>
    <%= link_to "Услуги и сервисы", services_admin_listings_path, class: 'btn btn-info btn-sm' %>
    <%= link_to "Услуги и сервисы", places_admin_listings_path, class: 'btn btn-warning btn-sm' %>
  </div>
</section>


<section class="py-3">
  <div class="container">	

    	<i class="bi bi-binoculars fs-3"></i>
      <i class="bi bi-binoculars-fill fs-3"></i>
      <i class="bi bi-building"></i>
      <i class="bi bi-camera"></i>
<i class="bi bi-camera2"></i>
<i class="bi bi-cup-hot"></i>
<i class="bi bi-door-open"></i>
<i class="bi bi-forward"></i>
<i class="bi bi-gem"></i>
<i class="bi bi-gear"></i>
<i class="bi bi-funnel"></i>
<i class="bi bi-geo"></i>
<i class="bi bi-geo-alt"></i>
<i class="bi bi-geo-fill"></i>

<i class="bi bi-handbag"></i>
<i class="bi bi-heart"></i>
<i class="bi bi-heart-fill"></i>
<i class="bi bi-hearts"></i>
<i class="bi bi-hexagon"></i>
<i class="bi bi-info-circle"></i>
<i class="bi bi-map"></i>
<i class="bi bi-pin-map"></i>
<i class="bi bi-pin-map-fill"></i>
<i class="bi bi-robot"></i>
<i class="bi bi-rocket-takeoff"></i>
<i class="bi bi-router"></i>
<i class="bi bi-rulers"></i>
<i class="bi bi-safe"></i>
<i class="bi bi-search-heart"></i>
<i class="bi bi-shop"></i>
<i class="bi bi-shop-window"></i>




  </div>
</section>







