


<section class="py-3">
	<div class="container">		
    <%= link_to "Аренда жилья", properties_admin_listings_path(@town), class: 'btn btn-primary btn-sm' %>

    <%= link_to "Активный отдых", activities_admin_listings_path(@town), class: 'btn btn-orange btn-sm' %>
	</div>
</section>







