<div id="map"
	style="height: 300px"
	class="my-4 shadow"

	data-controller="maps"

	data-action="<%= controller.action_name %>"
	data-latitude="<%= object.geolocation.latitude %>"
	data-longitude="<%= object.geolocation.longitude %>"
	data-icon="<%= preset_icon %>">
</div>
