<h1>Dashboard Owner</h1>

<%= link_to 'Orders', partners_orders_path, class: 'btn btn-light btn-sm' %>
<hr>
<h2>Properties:</h2>

<%= render partial: 'partners/dashboard/property', collection: @properties, as: :property %>

<p><%= link_to 'New property', new_property_path, class: 'btn btn-success my-3' %></p>





