<% provide(:title, "Кабинет") %>

<section class="pt-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-xl-3">
        <%= render 'partners/dashboard/templates/nav_section' %>
			</div>
		
			<div class="col-lg-8 col-xl-9 px-0 px-md-2">
				<!-- Offcanvas menu button -->
				<div class="mb-0 d-lg-none text-end pe-3">
					<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="bi bi-arrow-bar-left"></i> Меню
					</button>
				</div>

				<div class="card border shadow">
					<div class="card-header border-bottom">
						<h4 class="card-header-title">Кабинет</h4>
					</div>
					<div class="card-body">
						Создание и управление вашими объявлениями и профилем
					</div>					
				</div> <br>

				<% if @properties.any? %>
					<%= render partial: 'partners/dashboard/templates/property', collection: @properties, as: :property %>
				<% else %>
					<div class="card border shadow">		
						<div class="card-body px-0 px-md-3 py-0 py-md-3 vstack gap-4">
							Ещё нет объявлений.
							Вы можете разместить свою гостиницу, гостевой дом или другой объект для сдачи жилья отдыхающим.
							Активный отдых
							Кафе, бары, рестораны и места где можно вкусно перекусить и провести время
							Различные услуги: массаж, маникюр, ремонт телефонов, обуви и другое
							Также можно разместить статью о достопримечательностях городов Крыма
							Размещение всех объявлений бесплатное
						</div>
					</div>
				<% end %>	
			</div>
		</div>
	</div>
</section>



<!-- Map modal START -->
<div class="modal fade" id="mapmodal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Title -->
			<div class="modal-header">
				<h5 class="modal-title">Расположение на карте</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- Map -->
			<div class="modal-body p-0">				
				<div id="map"
					style="height: 350px">
				</div>
			</div>
			<!-- Button -->
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<!-- Map modal END -->












