<% provide(:title, "Информация") %>


<section class="pt-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-xl-3">
        <%= render 'partners/dashboard/templates/nav_section' %>
			</div>
		
			<div class="col-lg-8 col-xl-9 px-0 px-md-2">
				<!-- Offcanvas menu button -->
				<div class="mb-0 d-lg-none text-end pe-3">
					<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="bi bi-arrow-bar-left"></i>Меню
					</button>
				</div>

				<!-- CARD START -->
				<div class="card border shadow">
					<!-- Card header -->
					<div class="card-header border-bottom">
						<h4 class="card-header-title"><i class="bi bi-info-circle me-1 text-secondary"></i> Информация / Часто задаваемые вопросы</h4>
					</div>
					<!-- Card body START -->
					<div class="card-body px-2 px-md-3 py-2 py-md-3">
            <div class="row">
              <div class="col-12 mx-auto">
                <div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-1">
                      <button class="accordion-button fw-bold rounded d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                        Добавление объектов жилья
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#accordionExample2" style="">
                      <div class="accordion-body mt-3">
                        Yet remarkably appearance gets him his projection. Diverted endeavor bed peculiar men the not desirous. Acuteness abilities ask can offending furnished fulfilled sex. Warrant fifteen exposed ye at mistake. Blush since so in noisy still built up an again. As young ye hopes no he place means. Partiality diminution gay yet entreaties admiration. In mention perhaps attempt pointed suppose. Unknown ye chamber of warrant of Norland arrived.
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-2">
                      <button class="accordion-button fw-bold rounded d-inline-block d-block pe-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                        How to edit my Profile?
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample2" style="">
                      <div class="accordion-body mt-3">
                        What deal evil rent by real in. But her ready least set lived spite solid. September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me. Engaged its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a scale. Subjects he prospect elegance followed no overcame possible it on. Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage Mr be.
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-3">
                      <button class="accordion-button fw-bold rounded d-block pe-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                        How much should I offer the sellers? 
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionExample2" style="">
                      <div class="accordion-body mt-3">
                        Post no so what deal evil rent by real in. But her ready least set lived spite solid. September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me. Engaged its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a scale. Subjects he prospect elegance followed no overcame possible it on. Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage Mr be. Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors.
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-4">
                      <button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                        Installation Guide 
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#accordionExample2">
                      <div class="accordion-body mt-3">
                        <p>What deal evil rent by real in. But her ready least set lived spite solid. September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me. Engaged its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a scale. Subjects he prospect elegance followed no overcame possible it on. Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage Mr be.</p>
                        <p class="mb-0">At the moment, we only accept Credit/Debit cards and Paypal payments. Paypal is the easiest way to make payments online. While checking out your order. Be sure to fill in correct details for fast &amp; hassle-free payment processing.</p>
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item mb-3">
                    <h6 class="accordion-header font-base" id="heading-5">
                      <button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                        Additional Options and Services
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
                      <div class="accordion-body mt-3">
                        Post no so what deal evil rent by real in. But her ready least set lived spite solid. September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me. Engaged its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a scale. Subjects he prospect elegance followed no overcame possible it on. Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage Mr be. Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors.
                      </div>
                    </div>
                  </div>

                  <!-- Item -->
                  <div class="accordion-item">
                    <h6 class="accordion-header font-base" id="heading-6">
                      <button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                        What is the difference between a college and a university?
                      </button>
                    </h6>
                    <!-- Body -->
                    <div id="collapse-6" class="accordion-collapse collapse" aria-labelledby="heading-6" data-bs-parent="#accordionExample2">
                      <div class="accordion-body mt-3">
                        Post no so what deal evil rent by real in. But her ready least set lived spite solid. September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me. Engaged its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a scale. Subjects he prospect elegance followed no overcame possible it on. Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage Mr be. Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row g-4 mt-5">
              <!-- Action box item -->
              <div class="col-md-6 position-relative overflow-hidden">
                <div class="bg-primary bg-opacity-10 rounded-3 h-100 p-4">
                  <!-- Content -->
                  <div class="d-flex">
                    <!-- Icon -->
                    <div class="icon-lg text-white bg-primary rounded-circle flex-shrink-0"><i class="bi bi-headset"></i></div>
                    <!-- Content -->
                    <div class="ms-3">
                      <h4 class="mb-1">Остались вопросы?</h4>
                      <p class="mb-3">Можно позвонить</p>
                      <a href="contact-2.html" class="btn btn-dark mb-0">Позвонить</a>
                    </div>	
                  </div>
                </div>
              </div>

              <!-- Action box item -->
              <div class="col-md-6 position-relative overflow-hidden">
                <div class="bg-secondary bg-opacity-10 rounded-3 h-100 p-4">
                  <!-- Content -->
                  <div class="d-flex">
                    <!-- Icon -->
                    <div class="icon-lg text-dark bg-warning rounded-circle flex-shrink-0"><i class="bi bi-envelope"></i></div>
                    <!-- Content -->
                    <div class="ms-3">
                      <h4 class="mb-1">Нужна помощь?</h4>
                      <p class="mb-3">Написать</p>
                      <a href="#" class="btn btn-dark mb-0">Написать</a>
                    </div>	
                  </div>
                </div>
              </div>
            </div>

            
            <div class="bg-light p-4 p-sm-5 rounded-3 position-relative overflow-hidden mt-5">	
              <!-- Svg decoration -->
              <figure class="position-absolute top-0 start-0 translate-middle">
                <svg class="fill-orange" width="250px" height="255px" viewBox="0 0 300.24 305.85">
                  <path d="M72.33,265.03c-41.74-43.54-67.69-97.8-72.24-159.79C-2.45,59.51,47.02,6.52,101.33,1.31 c61.88-6.72,117.52,12.02,155.39,64.52c16.58,23.1,27.89,49.78,35.88,75.54c18.39,55.77,2.61,105.79-37.18,136.4 c-45.06,34.18-108.2,37.69-155.75,7.58C90.6,279.3,82.55,272.11,72.33,265.03z"/>
                </svg>
              </figure>

              <!-- Svg decoration -->
              <figure class="position-absolute top-100 start-100 translate-middle">
                <svg class="fill-warning" width="177.91px" height="132.35px" viewBox="0 0 177.91 132.35">
                  <path d="M128.84,69.77c2.74,3.33,2.92,6.79,0.71,10.54c0.77,0,1.31,0,1.79,0c7.56,0,15.12,0.3,22.68,1.13 c4.94,0.54,9.82,1.31,14.52,2.86c1.73,0.54,3.39,1.25,5,2.08c1.07,0.54,2.08,1.37,2.92,2.26c1.85,2.02,1.9,4.7,0.36,6.96 c-0.83,1.25-1.96,2.26-3.21,2.98c-2.2,1.25-4.4,2.44-6.73,3.45c-6.25,2.74-12.74,4.82-19.23,6.79c-7.98,2.44-15.95,4.76-23.93,7.14 c-0.48,0.12-1.01,0.3-1.73,0.54c0.54,0.3,0.89,0.48,1.25,0.65c1.43,0.77,2.44,1.85,2.5,3.51c0.06,1.79-0.83,3.04-2.32,3.81 c-1.19,0.6-2.56,1.13-3.87,1.49c-5.3,1.49-10.71,2.32-16.13,3.15c-10.36,1.55-20.77,2.62-31.25,3.04 c-8.93,0.36-17.8,0.36-26.67-1.01c-3.33-0.54-6.67-1.25-9.76-2.56c-1.67-0.71-3.27-1.55-4.64-2.8c-3.15-2.8-3.87-6.61-1.9-10.36 c1.01-1.9,2.44-3.51,4.05-4.94c3.15-2.8,6.79-4.94,10.48-6.85c0.6-0.3,1.25-0.65,1.85-1.19c-0.36,0-0.71,0-1.01,0 c-6.07,0.3-12.2,0.36-18.27-0.48c-2.74-0.36-5.42-0.95-8.04-2.02c-1.85-0.77-3.63-1.73-5.06-3.15c-2.62-2.62-3.45-5.71-2.5-9.29 c0.54-2.02,1.49-3.81,2.92-5.36c1.67-1.85,3.33-3.69,5.24-5.24c3.15-2.56,6.49-4.82,9.76-7.26c0.48-0.36,0.89-0.65,1.67-1.25 c-0.71-0.06-1.07-0.12-1.49-0.12c-3.57,0-7.14,0.06-10.71-0.12c-1.96-0.06-3.99-0.42-5.95-0.83c-1.19-0.24-2.38-0.71-3.45-1.31 C4.91,64,3.6,60.3,5.15,56.32c0.83-2.14,2.26-3.93,3.87-5.6c0.54-0.6,1.13-1.13,1.85-1.85c-0.48-0.06-0.77-0.12-1.07-0.12 c-1.37-0.06-2.74-0.06-4.11-0.24c-0.95-0.12-1.96-0.42-2.86-0.83c-2.56-1.25-3.51-3.93-2.32-6.49c0.48-1.01,1.19-2.02,1.96-2.74 c1.49-1.31,3.04-2.62,4.76-3.63c3.51-2.02,7.02-3.99,10.71-5.71c5.6-2.44,11.19-4.7,16.73-7.08c0.95-0.42,1.96-0.83,2.86-1.37 c8.04-4.94,16.73-8.51,25.65-11.31c14.64-4.64,29.64-7.62,45-8.93c6.19-0.54,12.38-0.65,18.51,0.18c2.38,0.3,4.7,0.77,6.9,1.79 c1.13,0.54,2.32,1.13,3.27,1.96c2.38,1.96,2.98,5,1.49,7.74c-0.6,1.13-1.37,2.2-2.32,3.04c-1.96,1.79-4.05,3.45-6.25,4.94 c-4.35,2.98-8.99,5.42-13.63,7.8c-0.48,0.24-0.89,0.48-1.37,1.01c0.6,0.06,1.13,0.12,1.73,0.24c1.13,0.24,2.26,0.42,3.33,0.77 c4.11,1.49,4.88,5.48,1.67,8.39c-1.01,0.89-2.2,1.73-3.39,2.38c-2.62,1.43-5.36,2.74-8.04,3.99c-2.38,1.07-4.76,2.08-7.2,3.33 c0.36,0.06,0.77,0.12,1.13,0.12c6.49,0.3,12.92,0.77,19.29,1.9c3.33,0.6,6.67,1.25,9.82,2.56c1.37,0.6,2.8,1.25,3.99,2.14 c3.1,2.32,3.39,5.95,0.83,8.87c-0.83,0.89-1.79,1.73-2.8,2.44c-1.67,1.13-3.45,2.02-5.18,3.04 C129.67,69.29,129.32,69.53,128.84,69.77z"/>
                  </svg>
              </figure>

              <div class="row g-4 justify-content-md-between align-items-center position-relative">
                <div class="col-xl-6">
                  <!-- Title -->
                  <h4 class="mb-0">Подписаться на обновления</h4>
                </div>
                <!-- Content and input -->
                <div class="col-xl-5">
                  <form class="bg-body rounded-2 p-2">
                    <div class="d-flex">
                      <input class="form-control border-0 me-1" type="email" placeholder="Ваш email">
                      <button type="button" class="btn btn-primary btn-round flex-shrink-0 mb-0"><i class="bi bi-arrow-right fa-fw"></i></button>
                    </div>
                  </form>
                </div>
              </div> <!-- Row END -->
            </div>

					</div>
					<!-- Card body END -->
				</div>
				<!-- CARD END -->
			</div>
		</div>
	</div>
</section>

