<% provide(:title, "Заявки") %>

<section class="pt-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-xl-3">
        <%= render 'partners/dashboard/templates/nav_section' %>
			</div>
		
			<div class="col-lg-8 col-xl-9 px-0 px-md-2">
				<!-- Offcanvas menu button -->
				<div class="mb-0 d-lg-none text-end pe-3">
					<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="bi bi-arrow-bar-left"></i> Меню
					</button>
				</div>

				<!-- CARD START -->
				<div class="card border shadow">
					<!-- Card header -->
					<div class="card-header border-bottom">
						<h4 class="card-header-title">Заявки</h4>
					</div>
					<!-- Card body START -->
					<div class="card-body px-0 px-md-3 py-0 py-md-3 vstack gap-4">		
            <%= render partial: 'orders/order', collection: @orders, as: :order %>
					</div>
					<!-- Card body END -->
				</div>
				<!-- CARD END -->
			</div>
		</div>
	</div>
</section>
