/* add - delete images */
.del-image {
  position: relative;
  img {
    position: relative;
  }
  a {
    font-weight: 800;
    padding:  0 5px 1px 5px;
    background-color: #f9a11b;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 10;
  }
}
