/* Parallax bg */
.parallax-window {
	min-height: 220px; /* 270 */
	background: transparent;
	position: relative;
}

.parallax-content-2 {
	position: absolute;
	left: 0; 
	bottom: 0;
	z-index: 600;
	padding: 25px 0 20px 0;
	color: #fff;
	font-size: 13px;
	/*
	background: -webkit-linear-gradient(top,transparent,#000);
    background: linear-gradient(to bottom,transparent,#000);
	*/
	background: linear-gradient(to bottom, transparent, #014a6e);
	width: 100%;
}

.parallax-content-2 div h1 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	margin: 0;
}

.parallax-content-2 .rating {
	font-size: 14px;
}


@media (max-width: 767px) {
  .parallax-content-2 {
    padding-bottom: 15px;
  }

  .parallax-content-2 div h1 {
    font-size: 22px;
  }

  .parallax-content-2 .rating {
    font-size: 12px;
    display: block;
  }
}

