
#top_line{
	/* background-color:#fff; */
	color: #888;
	height:28px;	
	border-bottom:1px solid rgba(129, 91, 91, 0.2);
	font-size:12px;
	visibility:visible;
	opacity:1;
	/* margin-bottom:5px; */
	position:relative;
	/* z-index:999999; */

	a {
		text-decoration: none;
	}

}
ul#top_links{
	list-style:none;
	margin:0;
	padding:0;
	float:right;
}
a#access_link, a#wishlist_link{
	position:relative;
	display:inline-block;
	padding-left:16px;
}
#access_link:before, #wishlist_link:before{
	font-style: normal;
 	font-weight: normal;
 	font-family: "fontello";
  font-size:14px;
	position:absolute;
	left:0;
	top:0;
}

#wishlist_link:before{content: "\e809";}
#access_link:before{content: "\e97f";}

ul#top_links li{
	display:inline-block;
	border-left: 1px solid rgba(0,0,0,0.1);
	margin-right:5px;
	padding-left:8px;
	position:relative;
}
ul#top_links li:first-child{
	border-left: none;
	padding-left:0;
}

ul#top_links a{
	color:#777;
}
ul#top_links a:hover{
	color: #ff4500;
}