<div class="col-md-4">
  <div class="card h-100 shadow">  
    <div class="card-header border-bottom">
      <h5 class="mb-0">Контакты</h5>
    </div>

    <div class="card-body">
      
        <div class="row g-3">
          <div class="col-12">        
            <div class="form-item">
              <label>Phone <span class="desc">+7(000)000-00-00</span></label>
              <input id="phone-mask" type="text" value="">
              </div>
            </div>
            <small>A catchy name usually includes: House name - Room name - A tourist destination</small>
          </div>

          <div class="col-12">        
            
            <small>A catchy name usually includes: House name - Room name - A tourist destination</small>
          </div> 
        </div>
      
    </div>
  </div>
</div>


