<div class="col-md-4">
  <div class="card h-100 shadow">  
    <div class="card-header border-bottom">
      <h5 class="mb-0">Контакты</h5>
    </div>

    <div class="card-body">
      
        <div class="row g-3">
          <div class="col-md-6">        
            
            <small>A catchy name usually includes: House name - Room name - A tourist destination</small>
          </div>

          <div class="col-12">        
            
            <small>A catchy name usually includes: House name - Room name - A tourist destination</small>
          </div> 
        </div>
      
    </div>
  </div>
</div>


<div class="form-item">
          <label>Pattern (Phone) <span class="desc">+{7}(000)000-00-00</span></label>
          <input id="phone-mask" type="text" value="">
          <div class="unmasked-value desc">unmasked: <span id="phone-unmasked"></span><span id="phone-complete" class="example__complete"></span></div>
          <div class="toggle-panel">
            <label for="phone-mask-source" class="muted">source</label>
            <input id="phone-mask-source" type="checkbox">
            <div class="toggle-panel-content">
            
            </div>
          </div>
        </div>