<% if @properties.any? %>
  <div class="col-12 mb-3">
    <h1 class="fs-4">Предложений: <%= @pagy.count %></h1>          
  </div>

  <%= render partial: 'properties/property', collection: @properties, as: :property %>

  <% if @pagy.count > 12 %>
    <div class="col-12 mt-3 d-flex justify-content-center">
      <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </div>
  <% end %>
  <% else %>
  <div class="col-12 text-center">
    <h1 class="fs-4 mb-2">Нет подходящих предложений</h1>
  </div>
<% end %>