<div class="form-group mb-2">
  <%= f.label :avatar, class: 'form-label' %>        
  <%= f.file_field :avatar, accept: 'image/*', class: 'form-control' %>
</div>

<div class="form-group mb-2">
  <%= f.label :images, class: 'form-label' %>        
  <%= f.file_field :images, multiple: true, accept: 'image/*', class: 'form-control' %>
</div>
