<div class="row">
  <div class="col-md-8 text-center mx-auto">
    <%= image_tag("theme/congratulations.svg", class: 'h-300px mt-2 mb-3') %>
    <h1 class="fs-3">Заявка отправлена 🎉</h1>
    <p>В ближайшее время с Вами должны связаться по указанным контактам</p>
  </div>
</div>