<div class="col-md-6 col-xl-4 mb-4">
  <div class="card card-hover-shadow pb-0 h-100">
    <!-- Overlay item -->
    <div class="position-relative">
      <!-- Image -->
      
      <%= image_tag(property.avatar.variant(resize_to_limit: [400, 300]), class: "card-img-top") %>  
      <!-- Overlay -->
      <div class="card-img-overlay d-flex flex-column p-2 z-index-1">
        <!-- Card overlay top -->
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="badge text-bg-danger">30% Off</span>
            <span class="badge text-bg-primary">Adventure</span>
          </div>
        </div>
        
        <!-- Card overlay bottom -->
        <div class="w-100 mt-auto">
          <span class="badge text-bg-light bg-opacity-75 fs-6">6 days / 5 nights</span>
        </div>
      </div>
    </div>
    <!-- Image -->

    <!-- Card body START -->
    <div class="card-body px-3">      
      <!-- Title -->
      <div class="d-flex justify-content-between mb-3">        
        <h5 class="card-title mb-0"><%= link_to property.title, property, class: "strlnk" %></h5>
        <a href="#" class="badge bg-warning bg-opacity-25 text-orange"><i class="bi fa-fw bi-bookmark"></i></a>
      </div>

      <span class="small"><i class="bi bi-geo-alt"></i>&nbsp;<%= property.address %> </span>

      <!-- Highlights Icons -->
      <ul class="nav nav-divider my-2">
        <li class="nav-item">Air Conditioning</li>
        <li class="nav-item">Wifi</li>
        <li class="nav-item">Pool</li>
        <li class="nav-item">More+</li>
      </ul>

      <ul class="list-group list-group-borderless small mb-0">
        <li class="list-group-item d-flex text-primary p-0">
          <i class="bi bi-patch-check-fill me-2"></i>Free Breakfast
        </li>
      </ul>

      <!-- List -->
      <ul class="nav nav-divider mt-3 mb-0">
        <li class="nav-item h6 fw-normal mb-0">
          <i class="bi bi-people-fill text-orange me-2"></i>Guests 2-6
        </li>
        <li class="nav-item h6 fw-normal mb-0">
          <i class="bi bi-brightness-high text-orange me-2"></i>Sea 300m
        </li>
      </ul>
    </div>
    <!-- Card body END -->

    <!-- Card footer START-->
    <div class="card-footer pt-0">
      <!-- Price and Button -->
      <div class="d-sm-flex justify-content-sm-between align-items-center flex-wrap">
        <!-- Price -->
        <div class="hstack gap-2">
          <h5 class="fw-normal text-success mb-0">1500<small>р</small></h5>
          <small>per room/day</small>
        </div>
        <!-- Button -->
        <div class="mt-2 mt-sm-0">
          <a href="#" class="btn btn-sm btn-primary mb-0">View Details</a>    
        </div>
      </div>
    </div>

  </div>
</div>
