<div class="col-6 col-lg-4 px-0 mb-4">
  <div class="card mx-2 shadow-lg  h-100 hotel-card">      
    
    <%= link_to image_tag(property.avatar.variant(resize_to_limit: [400, 300]), class: "rounded-top"), property %>   

    <div class="card-body py-1 px-2">
      <%= link_to property do %>      
        <%= property.title %>
      <% end %>
    </div>

    <div class="card-footer px-2">
      <small >
        <i class="bi bi-geo-alt"></i>&nbsp;<%= property.address %>        
      </small>
    </div>
  </div>
</div>
