<div id="search_result">
  <% if @properties.any? %>
    <h3><%= "Found #{@properties.count} property" %></h3>
    <div class="row gx-2">
      <%= render @properties %>
    </div>
  <% else %>
    <h3>Not found</h3>
  <% end %>
</div> 
