<section class="pb-0">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="fs-2 mb-2">Новое объявление: аренда</h1>
				<p class="mb-0">Основные сведения об объекте. Информация о номерах добавляется в личном кабинете в карточке объекта</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
        <%= render 'form' %>
			</div>
		</div>
	</div>
</section>



