<% provide(:title, "Добавить объект: аренда для отдыха") %>

<!-- breadcrumbs -->
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Главная', root_path %></li>
      <li class="breadcrumb-item"><%= link_to "Личный кабинет", partners_root_path %></li>				
      <li class="breadcrumb-item active">Добавить объект</li> 
    </ol>
  </nav>
</div>

<section class="pb-0">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="fs-2 mb-2">Добавить объект</h1>
			</div>
		</div>

		<div class="alert alert-info alert-dismissible fade show my-3 rounded-2" role="alert">
			<div class="d-sm-flex align-items-center mb-3">
				<h5 class="alert-heading mb-0"><i class="bi bi-info-circle me-2"></i>Информация по добавлению:</h5>
			</div>
			
			<div class="px-md-5 px-2">
				<dl>
					<dt>Номера и стоимость проживания в них</dt>
					<dd>Добавляются отдельно в личном кабинете в карточке объекта во вкладке "Номера" - кнопка "Добавить номер"</dd>
					<dt>Если объект сдаётся целиком (например квартира, дом под ключ или отдельный эллинг)</dt>
					<dd>Нужно добавить один номер с ценами для бронирования этого объекта - для того чтобы он учавствовал в поиске</dd>
					<dt>Поля со звёздочкой *</dt>
					<dd>Необходимо заполнить.</dd>
				</dl>
			</div>
			<!--
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
		</div>
	</div>
</section>

<section class="pt-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
        <%= render 'form' %>
			</div>
		</div>
	</div>
</section>



