<div class="mt-4">
  <% nearby_objects.each do |nearby_object| %>
    <div class="card bg-transparent overflow-hidden my-3">
      <div class="row g-0 align-items-center">
        <!-- Image -->
        <div class="col-4">
          <%= image_tag(nearby_object.avatar.nearby.url, class: "card-img ") %>  
        </div>

        <!-- Title and content -->
        <div class="col-8">
          <div class="card-body p-3">
            <h6 class="card-title">
              <%= link_to nearby_object.title, nearby_object, class: "stretched-link" %>
            </h6>
            <p class="small mb-0">
            <i class="bi bi-pin-map"></i>
            <%= main_object.distance_to nearby_object %> m.
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>