<%= turbo_frame_tag 'flash_messages' %>

<% flash.each do |message_type, message| %>
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div class="toast text-bg-<%= message_type %> border-0 py-2" style="opacity: 0.85;" role="alert" data-bs-delay="5000" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          <%= message %>
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% end %>
