


<form class="row g-1">
  <div class="row align-items-end g-0">
    <!-- Check in -->
    <div class="col-md-5">
      <label class="small">Check in</label>
      <div class="form-border-bottom form-control-transparent d-flex align-items-center">
        <i class="bi bi-calendar text-secondary d-block me-2"></i>
        <div class="form-fs-sm">
          <input type="text" class="form-control flatpickr" data-date-format="d/M/Y" placeholder="Select Date">
        </div>
      </div>
    </div>

    <!-- Check Out -->
    <div class="col-md-5">
      <label class="small">Check Out</label>
      <div class="form-border-bottom form-control-transparent d-flex align-items-center">
        <i class="bi bi-calendar text-secondary d-block me-2"></i>
        <div class="form-fs-sm">
          <input type="text" class="form-control flatpickr" data-date-format="d/M/Y" placeholder="Select Date">
        </div>	
      </div>
    </div>

    <!-- Reset Dates -->
    <div class="col-md-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Reset dates">    
      <%= link_to reset_search_dates_path, data: { "turbo-method": :delete }, class: 'btn btn-sm bg-danger-soft-hover' do %>
        <i class="bi bi-arrow-counterclockwise fa-fw me-1"></i>
      <% end %>
    </div>
  </div>

  <!-- Guests -->
  <div class="col-md-12">
    <label class="small">Guests</label>
    <div class="form-border-bottom form-control-transparent d-flex align-items-center">
      <!-- Icon -->
      <i class="bi bi-people text-secondary d-block me-2"></i>
      <!-- Cities -->
      <div class="form-fs-sm">
        <div class="dropdown guest-selector me-2">
          <input type="text" class="form-guest-selector form-control selection-result" placeholder="Select guests" id="dropdownShare" data-bs-auto-close="outside" data-bs-toggle="dropdown">
        
          <!-- dropdown items -->
          <ul class="dropdown-menu guest-selector-dropdown" aria-labelledby="dropdownShare">
            <!-- Adult -->
            <li class="d-flex justify-content-between">
              <div>
                <h6 class="mb-0">Adults</h6>
                <small>Ages 13 or above</small>
              </div>

              <div class="hstack gap-1 align-items-center">
                <button type="button" class="btn btn-link adult-remove p-0 mb-0"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                <h6 class="guest-selector-count mb-0 adults">2</h6>
                <button type="button" class="btn btn-link adult-add p-0 mb-0"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
              </div>
            </li>

            <!-- Divider -->
            <li class="dropdown-divider"></li>

            <!-- Child -->
            <li class="d-flex justify-content-between">
              <div>
                <h6 class="mb-0">Child</h6>
                <small>Ages 13 below</small>
              </div>

              <div class="hstack gap-1 align-items-center">
                <button type="button" class="btn btn-link child-remove p-0 mb-0" ><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                <h6 class="guest-selector-count mb-0 child">0</h6>
                <button type="button" class="btn btn-link child-add p-0 mb-0" ><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
              </div>
            </li>

            <!-- Divider -->
            <li class="dropdown-divider"></li>

            <!-- Rooms -->
            <li class="d-flex justify-content-between">
              <div>
                <h6 class="mb-0">Rooms</h6>
                <small>Max room 8</small>
              </div>

              <div class="hstack gap-1 align-items-center">
                <button type="button" class="btn btn-link room-remove p-0 mb-0" ><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                <h6 class="guest-selector-count mb-0 rooms">1</h6>
                <button type="button" class="btn btn-link room-add p-0 mb-0" ><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
              </div>
            </li>
          </ul>
        </div>
      </div>	
    </div>
  </div>

  <!-- Button -->
  <div class="col-12 mt-3">
    <button class="btn btn-sm btn-primary-soft w-100 mb-0">Calculate booking</button>
  </div>
</form>


<%= form_with url: search_path, method: :post, id: 'new_order_for_datepicker', class: "row g-3" do |f| %>


<% end %>
