<div class="card card-body border">
  
  <!-- Title -->
  <div class="d-sm-flex justify-content-sm-between align-items-center mb-3">
    <div>
      <span>Price Start at</span>
      <h4 class="card-title mb-0">$3,500</h4>
    </div>
    <div>
      <h6 class="fw-normal mb-0">1 room per night</h6>
      <small>+ $285 taxes & fees</small>
    </div>
  </div>		

  <!-- Rating -->
  <ul class="list-inline mb-2">
    <li class="list-inline-item me-1 h6 fw-light mb-0"><i class="bi bi-arrow-right me-2"></i>4.5</li>
    <li class="list-inline-item me-0 small"><i class="bi bi-star-fill text-warning"></i></li>
    <li class="list-inline-item me-0 small"><i class="bi bi-star-fill text-warning"></i></li>
    <li class="list-inline-item me-0 small"><i class="bi bi-star-fill text-warning"></i></li>
    <li class="list-inline-item me-0 small"><i class="bi bi-star-fill text-warning"></i></li>
    <li class="list-inline-item me-0 small"><i class="bi bi-star-half text-warning"></i></li>
  </ul>

  <p class="h6 fw-light mb-4"><i class="bi bi-arrow-right me-2"></i>Free breakfast available</p>

  <!-- Button -->
  <div class="d-grid">
    <a href="#room-options" class="btn btn-lg btn-primary-soft mb-0">View All Rooms</a>
  </div>
</div>