<div class="tab-pane" id="tab-rooms">					
  <div class="card bg-transparent" id="room-options">
    <div class="card-header border-bottom bg-transparent px-0 pt-0">
      <div class="d-sm-flex justify-content-sm-between align-items-center">
        <h3 class="mb-2 mb-sm-0">Номера</h3>								
      </div>
    </div>

    <div class="card-body pt-4 p-0">
      <div class="vstack gap-4">
        <%= render @property.rooms %>
      </div>
    </div>
  </div>
</div>
