<div class="tab-pane show active" id="tab-description">
  <div class="card bg-transparent">
    <div class="card-header border-bottom bg-transparent px-0 pt-0">
      <h3 class="mb-0">Описание</h3>
    </div>

    <div class="card-body pt-4 p-0">
      <div class="mb-3">
        <% @property.services.each do |service| %>									
          <span class="badge bg-primary bg-opacity-10 text-success fs-6 mb-3 me-2 ">
            <i class="bi bi-patch-check-fill text-success me-1"></i>
            <%= Property::SERVICES[service.to_sym] %>
          </span>
        <% end %>
        <% @property.property_detail.amenities.each do |service| %>									
          <span class="badge bg-primary bg-opacity-10 text-success fs-6 mb-3 me-2">
            <i class="bi bi-patch-check-fill text-success me-1"></i>
            <%= PropertyDetail::AMENITIES[service.to_sym] %>
          </span>
        <% end %>
      </div>						

      <% if @property.property_detail.short_description.size > 626 %>        
        <div class="content_block hide">
          <%= @property.property_detail.short_description %>          
        </div>
        <a class="content_toggle text-secondary" href="#"><i class="bi bi-caret-down me-1"></i>Показать текст</a>
      <% else %>
        <p class="mb-3"><%= @property.property_detail.short_description %></p>
      <% end %>	

      
    </div>
  </div>
</div>