<h1>Ваше объявление активировано "<%= listing.title %>" активировано</h1>

Просмотреть его можно по этой ссылке:
<%= link_to listing.title, listing %>

Управлять и просматривать статистику можно в личном кабинете.
<%= link_to "В кабинет", partners_root_path %>





