<div class="d-flex align-items-center">


  <% if session['check_in'] && session['check_out'] && (all_dates_cost = room.calculate_booking(session[:check_in], session[:check_out])) %>
    <h5 class="fw-bold mb-0 me-1"><%= all_dates_cost %><small>₽</small></h5>
    <span class="mb-0 me-2">
      <%= "/ #{(session['check_in'].to_date..session['check_out'].to_date).count} days" %>
    </span>

  <% else %>
    <span class="mb-0 me-2">from</span>
    <h5 class="fw-bold mb-0 me-1"><%= room.min_price %><small>₽</small></h5>
    <span class="mb-0 me-2">/ day</span>

  <% end %>
  
</div>
