<% provide(:title, 'Edit Room') %>

<h1><%= "#{@room.property.title}: #{@room.title} edit " %></h1>

<%= render 'form' %>

<!-- remove images -->
<%= render partial: 'shared/attachment_edit', collection: @room.images, as: :image %>
