//body { background:#f1f5f9; }

.turbo-progress-bar {
  background: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));
}

:root {
  // Application colors
  --color-primary:          hsl(350, 67%, 50%);
  --color-primary-rotate:   hsl(10, 73%, 54%);
  --color-primary-bg:       hsl(0, 85%, 96%);
  --color-secondary:        hsl(101, 45%, 56%);
  --color-secondary-rotate: hsl(120, 45%, 56%);
  --color-tertiary:         hsl(49, 89%, 64%);
  --color-glint:            hsl(210, 100%, 82%);
}


/* Поля с ошибками*/
.field_with_errors {
  label { color: #DC143C }
  input, textarea { border-color: #DC143C }
}

/* hotel description more */
.content_block {
	overflow: hidden;
	position: relative;    
}
.content_block.hide {
	height: 185px;
}
.content_block.hide:after{
	content: "";
	display: block;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f5f5f6 95%)
}

/* distance to sea */
.distance-sea {
	border-radius: 9px;
	text-align: center;
	padding: 5px 1px;
	//color: #777;
	//-webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.5); 
  //box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.5);
	/*background: rgba(0, 0, 0, 0) linear-gradient(to right, $color-yellow, #fec771) no-repeat scroll center;*/
	/*background: rgba(0, 0, 0, 0) linear-gradient(to right, #0e64ac, #1e80c5) no-repeat scroll center;*/
	/*	background: rgba(0, 0, 0, 0) linear-gradient(to right, #a3a3a3, rgb(200, 200, 200), ) no-repeat scroll center;*/
	span {		
		font-size: 16px;
		font-weight: 600;
		//color: #666;
	}
}

