<div class="col-6 col-lg-4 px-0 mb-4">
  <div class="card mx-2 shadow h-100">      
    <%= link_to image_tag(property.avatar, class: "img-fluid"), property %>
    <div class="card-body">
      <h5 class="card-title"><%= property.title %></h5>
      <p class="card-text"><%= property.address %></p>
    </div>
  </div>
</div>



