<section class="py-0 py-md-3">
	<div class="container">
		<div class="position-relative rounded overflow-hidden p-2 p-sm-5" style="background-image:url(<%= town.avatar.url %>); background-position: center left; background-size: cover;">
			<div class="row position-relative z-index-9">
				<div class="col-md-9 col-xl-8">
					<div class="rounded shadow bg-light bg-opacity-75 p-sm-4">

            <h5><%= link_to town.name, town, class: "stretched-link"%></h5>

						<p class="mb-3 text-dark"><%= town.description %></p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
