<div class="col-lg-4 col-6">
	<div class="activity-promo" style="position: relative;">
		<div class="rounded-top" data-controller="fotorama" data-object="widget"
				data-width="100%"
				data-ratio="3/2"
				data-allowfullscreen="false"                
				data-nav="false"
				data-loop="true"
				data-keyboard="true"
				data-auto="false">      
			<%= link_to image_tag(activity.avatar.thumb_100.url), activity.avatar.thumb.url %>      
			<% activity.images.take(4).each do |image| %> 
				<%= link_to image_tag(image.thumb_100.url), image.thumb.url %>     
			<% end %>
		</div>
	<%= link_to activity do %>
		<div class="activity-link">
			<%= activity.title %>
		</div>
	<% end %>
	</div>						
</div>
