<p>
Добро пожаловать на сайт «Люблю Крым»
Для активации вашей учётной записи пройдите по этой ссылке:
</p>

<p><%= link_to 'Подтвердить аккаунт', confirmation_url(@resource, confirmation_token: @token) %></p>

С уважением, администрация сайта «Люблю Крым»
